<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - MindBloom</title>

    <!-- BASE -->
    <link rel="stylesheet" th:href="@{/css/common/base.css}">

    <!-- PAGE -->
    <link rel="stylesheet" th:href="@{/css/auth/login.css}">
</head>

<body>

<div class="auth-container">
    <h2 class="auth-title">Login</h2>

    <form th:action="@{/login}" method="post">
        <div class="auth-group">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>

        <div class="auth-group">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>

        <div class="auth-actions">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <div style="margin-top: 10px; text-align: center;">
    <a th:href="@{/student/forgot-password}">
        Forgot your password?
    </a>
</div>

</div>

</body>
</html>
